.filter-widget{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 200px;
    height: 400px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

.drag-hook{
    color: white;
    font-size: 30px;
    cursor: move;
    padding: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-family: 'Segoe UI';
}